{% macro show_card(i, card, datetime) %}
{% if i == 0 %}
<span class="card first">
{% else %}
<span class="card">
{% endif %}
        <div>
            <article>
                <h1 class="temp">{{card.temp.real}}°C</h1>
                {% if card.temp.feel %}
                <h5>Ощущается как <c class="feelsLike">{{card.temp.feel}}°C</c></h5>
                {% endif %}
            </article>
            <img src="{{card.condition_image}}" alt="" class="sunwithcloud">
            <h2 class="description">{{card.condition}}</h2>
            <span class="span1">
                <img src="img/GroupVeter.svg" alt="">
                <h4 class="wind">{{card.wind.speed}} м/с, {{card.wind.direction}}
                    {% if card.wind_gust %}
                    <d class="gust">порывы до {{card.wind_gust.speed}} м/с</d>
                    {% endif %}
                </h4>
                {% if card.pressure %}
                <img src="img/GroupStolb.svg" alt="" style="margin-top: 13px;">
                <h4 style="position: relative; top: -5px;" class="pressureMm">{{card.pressure}} мм рт. ст.</h4>
                {% endif %}
                {% if card.humidity %}
                <img src="img/GroupWater.svg" alt="" style="margin-top: 13px;">
                <h4 style="position: relative; top: -5px;" class="pressurePer">{{card.humidity}}% 
                    {% if card.precipitation %}
                    / {{card.precipitation}} мм
                    {% endif %}
                </h4>
                {% endif %}
            </span>
            <span class="span2" style="width: 121px;height: 132px;margin-left: 9px; margin-top: 0; position: relative; top: -5px;">
                <img src="img/icons8-sunrise-arcade-96 1.png" alt="" >
                <h3 class="sunrise">{{card.sun.sunrise}}</h3>
                <img src="img/icons8-sun-96 1.png" alt="" >
                <h3 class="sunLength">{{card.sun.daylength}}</h3>
                <img src="img/icons8-sunset-96 1.png" alt="" >
                <h3 class="sunset">{{card.sun.sunset}}</h3>
            </span>
        </div>
        <p>Ист.: <span class="weatherSource">{{card.source}}<w>обн. {{ moment(datetime, True).format('hh:mm') }}</w></span></p>
    </span>
{% endmacro %}