{% from "day_card.html" import show_card with context %} {% from
"hourly_card.html" import show_hourly_card with context %} {% macro
show_block(block) %}
<aside id="aside" style="margin-top: 31px">
  <div class="weather-header">
    <p>
      <b class="day">{{block.day_rel}}</b>
      {% if block.is_time_viewed %}
      <span class="date">{{moment(block.date, True).format('LLL')}}</span>
      {% else %}
      <span class="date">{{moment(block.date, True).format('LL')}}</span>
      {% endif %}
      <b class="city">{{ block.city_in }}</b>
    </p>
    <a class="forecastHref" href="/hourly?name={{block.location.place}}"
      ><b class="forecastLink">Почасовой прогноз</b></a
    >
  </div>
  <br />
  {% for i, card in block.cards %} {{show_card(i, card)}} {% endfor %}
  <img src="img/more_btn.svg" alt="" type="button" class="moreDown" />
</aside>
{% endmacro %}
