{% from "day_block.html" import show_block with context %} {% from
"left_menu.html" import show_left_menu with context %} {% from "footer.html"
import show_footer with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/buttonsMenu.css" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Imprima%3A400"
    />
    <title>WeatherHub</title>
  </head>
  <body>
    {{ show_left_menu() }}
    <header>
      <section class="header">
        <a type="button" class="menuButton" id="menuButton"
          ><img src="img/Vector.svg" alt="" class="vector"
        /></a>
        <a href="/"><h2>Weather</h2></a>
        <a href="/"><h3>hub</h3></a>
        <a href=""><h4>Прогноз на 10 дней</h4></a>
        <a href="/hourly"><h5>Почасовой прогноз</h5></a>
        <form class="form" id="form" method="GET">
          <input
            id="inputCity"
            class="input"
            name="name"
            type="text"
            placeholder="Ваш город"
          />
          <ul class="options"></ul>
        </form>
        <a href="https://github.com/gg-master/WeatherHub" class="githubHeader"
          ><img src="img/Github icon.svg" alt=""
        /></a>
        <a href="https://github.com/gg-master/WeatherHub"><h6>GitHub</h6></a>
      </section>
    </header>
    <main>
      <section class="main">
        {% for day in weather_forecast %} {{ show_block(day) }} {% endfor %}
      </section>
    </main>
    {{ show_footer() }}

    <script src="js/main.js"></script>
    <script src="js/search.js"></script>
    {{ moment.include_moment() }} {{ moment.locale(auto_detect=True) }}
  </body>
</html>
