{% from "hourly_card.html" import show_hourly_card with context %} {% macro
show_block_with_hours(block) %}
<aside id="aside" style="margin-top: 31px">
  <p>
    <b class="day">{{block.day_rel}}</b>
    {% if block.is_time_viewed %}
    <span class="date">{{moment(block.date, True).format('LLL')}}</span>
    {% else %}
    <span class="date">{{moment(block.date, True).format('LL')}}</span>
    {% endif %}
    <b class="city">{{ block.city_in }}</b>
  </p>
  {% if is_daily %}
  <a href="/hourly?name={{block.location.place}}"
    ><b class="forecastLink">Почасовой прогноз</b></a
  >
  {% else %}
  <a href="/forecast?name={{block.location.place}}"
    ><b class="forecastLink">Дневной прогноз</b></a
  >
  {% endif %}
  <br />
  <div class="hour-panel">
    <img
      src="img/arrow-left-circle-line 1.svg"
      alt=""
      class="arrowLeft"
      type="button"
      id="btnPrev0"
    />
    <div class="hour-view">
      {% for i, card in block.cards %} {% if is_daily %} {{show_card(i, card)}}
      {% else %} {{show_hourly_card(i, card)}} {% endif %} {% endfor %}
    </div>
    <img
      src="img/arrow-right-circle-line 1.svg"
      alt=""
      class="arrowRight"
      type="button"
      id="btnNext0"
    />
  </div>

  <img src="img/more_btn.svg" alt="" type="button" class="moreDown" />
</aside>
{% endmacro %}
